
// ion-text{
//   background-color: blueviolet;
// }

.abq2 img{
width: 220px;
height: 225px;
}

h2{
  text-align: center;

  font-size: 3rem;
  font-weight: bold;

}


p{
  font-size: 1.57rem;
  color: grey;
}

.form{
  margin-top: 8rem;
}


ion-button{
  margin-top: 2rem;
}
ion-card-subtitle{
  font-size: 40px;
  color: red;
}
