<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Control Panel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div container>
    <ion-card>
      <ion-item routerLink="branches">
        <ion-label>Branches</ion-label>
      </ion-item>
      <ion-item routerLink="profiles">
        <ion-label>Profiles</ion-label>
      </ion-item>
      <ion-item routerLink="categories">
        <ion-label>Categories</ion-label>
      </ion-item>
      <ion-item routerLink="items">
        <ion-label>Items</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
