<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cosmetic-Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- loading spinner -->
  <ion-row
    class="ion-justify-content-center ion-align-items-center height"
    *ngIf="loading"
  >
    <ion-col size="auto">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>

  <!-- content -->
  <ion-row class="ion-justify-content-center" *ngIf="todos">
    <ion-col size="12" size-sm="12" size-md="6">
      <ion-card *ngFor="let todo of todos; let i = index">
        <ion-item lines="none">
          <ion-label (click)="detail(todo)">
            <h2>
              <ion-text> {{todo.title}} </ion-text>
            </h2>
            <p>
              <ion-text> {{todo.desc1}} </ion-text>
            </p>
          </ion-label>



        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>


  <!-- inifinte -->
  <ion-infinite-scroll
    threshold="25%"
    position="bottom"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


